# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.BulletHell.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Unity\_Git\Projects\BulletHell\BulletHell\.idea\.idea.BulletHell\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
